*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 600vh;
}

#container {
    width: 1000px;
    border: 3px solid #000;
    height: 1000px;
    margin: auto;
    background-color: antiquewhite;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.box {
    width: 100px;
    height: 100px;
    border: 3px solid #000;
    position: absolute;
}

.box1 {
    right: 0;
    bottom: 0;
    background-color: salmon;
}

.box2 {
    right: 0;
    top: 0;
    background-color: yellowgreen;
    z-index: 3;
}

.box3 {
    right: 50px;
    top: 50px;
    background-color: goldenrod;
    z-index: 2;
}

.box4 {
    right: 100px;
    top: 100px;
    background-color: darkcyan;
}

.box5 {
    /* left: calc(50% - 50px);
    top: calc(50% - 50px); */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: aquamarine;
}

.box6 {
    left: -50px;
    bottom: -50px;
    background-color: indianred;
}

.fixed {
    background-color: slateblue;
    position: fixed;
    right: 50%;
    margin-right: -620px;
    top: 450px;
    z-index: 3;
}

.box7 {
    background-color: fuchsia;
    position: static;
}